@page "/about"
@layout Ex2

<div class="about mb-4">
  <div class="name">CLARENCE <span>TAYLOR</span></div>
  <div class="text-muted text-uppercase info">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 · <a
      href="mailto:name@email.com" class="text-danger">name@email.com</a></div>

  <p class="desc">
    I am experienced in leveraging agile frameworks to provide a robust synopsis for high-level overviews.
    Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
  </p>
  <div class="social-icons d-flex gap-3 mt-5">
    <a href="#" class="d-block text-white text-center align-items-center pt-1 rounded-circle bg-dark"
      style="width: 3rem; height: 3rem;"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="#" class="d-block text-white text-center align-items-center pt-1 rounded-circle bg-dark"
      style="width: 3rem; height: 3rem;"><i class="fa-brands fa-github"></i></a>
    <a href="#" class="d-block text-white text-center align-items-center pt-1 rounded-circle bg-dark"
      style="width: 3rem; height: 3rem;"><i class="fa-brands fa-twitter"></i></a>
    <a href="#" class="d-block text-white text-center align-items-center pt-1 rounded-circle bg-dark"
      style="width: 3rem; height: 3rem;"><i class="fa-brands fa-facebook"></i></a>
  </div>

</div>