@page "/experience"
@layout Ex2
<div class="experience">
  <h1 class="title text-uppercase fw-bold">expirience</h1>
  <div class="expirence-item item-1 mt-4">
    <div class="description d-flex justify-content-between mt-5">
      <div class="position text-uppercase">
        <h3>Senior Web Developer</h3>
      </div>
      <div class="period text-warning-emphasis">March 2013 - Present</div>
    </div>
    <div class="name-company mt-2 opacity-50">
      <h5 class="text-uppercase">Intelitec Solutions</h5>
    </div>
    <div class="content mt-4 opacity-75 w-75">
      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going
      forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud
      solution. User generated content in real-time will have multiple touchpoints for offshoring.
    </div>
  </div>
  <div class="expirence-item item-2 mt-4">
    <div class="description d-flex justify-content-between mt-5">
      <div class="position text-uppercase">
        <h3>Web Developer</h3>
      </div>
      <div class="period text-warning-emphasis">July 2010 - December 2011</div>
    </div>
    <div class="name-company mt-2 opacity-50">
      <h5 class="text-uppercase">Intelitec Solutions</h5>
    </div>
    <div class="content mt-4 opacity-75 w-75">
      Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
    </div>
  </div>
  <div class="expirence-item item-2 mt-4">
    <div class="description d-flex justify-content-between mt-5">
      <div class="position text-uppercase">
        <h3>Junior Web Designer</h3>
      </div>
      <div class="period text-warning-emphasis">September 2008 - June 2010</div>
    </div>
    <div class="name-company mt-2 opacity-50">
      <h5 class="text-uppercase">Shout! Media Productions</h5>
    </div>
    <div class="content mt-4 opacity-75 w-75">
     Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
    </div>
  </div>
</div>  